[submodule "lib/MB1414"]
	path = lib/MB1414
	url = https://github.com/kooBH/MB1414.git
[submodule "lib/serial"]
	path = lib/serial
	url = https://github.com/wjwwood/serial.git
[submodule "lib/STFT"]
	path = lib/STFT
	url = https://github.com/koobh/STFT
[submodule "lib/WAV"]
	path = lib/WAV
	url = https://github.com/koobh/WAV
[submodule "lib/MLDR"]
	path = lib/MLDR
	url = https://github.com/koobh/MLDR
[submodule "bin"]
	path = bin
	url = https://github.com/koobh/QtBin
[submodule "lib/RtAudioWrapper"]
	path = lib/RtAudioWrapper
	url = https://github.com/kooBH/RtAudioWrapper.git
[submodule "lib/dlib"]
	path = lib/dlib
	url = https://github.com/davisking/dlib.git
[submodule "example/KWidgetASR"]
	path = example/KWidgetASR
	url = https://github.com/kooBH/KWidgetASR
